@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 90% -25%;
}

@media (max-width) {
  body {
    background-position: 50px -50px;
    background-size: 500px;
  }
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}
.hamburger-top,
.hamburger-md,
.hamburger-bt {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #de3309;
  transform: rotate(0);
  transition: all 0.5s;
}
.hamburger-top {
  transform: translateY(-7px);
}
.hamburger-bt {
  transform: translateY(7px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}
.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .hamburger-md {
  display: none;
}
.open .hamburger-bt {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}
